@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Sacramento&family=Shadows+Into+Light&family=Yellowtail&display=swap");

.ReactModal__Overlay {
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-vertical {
  transform: scaleY(-1);
}

.slick-arrow.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-arrow.slick-prev:before {
  font-size: 30px;
}

.slick-arrow.slick-next {
  right: 20px;
}

.slick-arrow.slick-next:before {
  font-size: 30px;
}
