@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Sacramento&family=Shadows+Into+Light&family=Yellowtail&display=swap");

.ReactModal__Overlay {
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "honey-carrot";
    src: url("/fonts/Honey-Carrot.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
}

.flip-vertical {
  transform: scaleY(-1);
}

.slick-arrow.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-arrow.slick-prev:before {
  font-size: 30px;
}

.slick-arrow.slick-next {
  right: 20px;
}

.slick-arrow.slick-next:before {
  font-size: 30px;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.svg-shadow {
  filter: drop-shadow(0 0px 20px rgb(0 0 0 / 0.08));
  -webkit-filter: drop-shadow(0 0px 20px rgb(0 0 0 / 0.08));
}

/* Google chrome */
@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #e0dcdc;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e0dcdc;
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #e0dcdc;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e0dcdc;
  }
}

/* Gunungan */

.gunungan-left {
  transform: rotate(20deg);
}

.gunungan-right {
  transform: rotate(-20deg);
}

.rotate-right {
  animation: rotate-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-left {
  animation: rotate-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-right {
  0% {
    transform: rotate(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    opacity: 0;
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0);
    transform-origin: 0 100%;
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    opacity: 0;
  }
}

/* Modal Opacity */
.modal-opacity {
  animation: modal-opacity 1s ease-in-out forwards;
}

@keyframes modal-opacity {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
